.section1-flex {
    margin: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    h1 {
        text-align: center;
    }

    button {
        padding: 10px;
        margin: 0 400px;
        a {
        text-decoration: none;
        color: black;
        }
    }
}

.section2-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    margin-bottom: 100px;

    .div-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 50px;
        width: 70%;
        border: 2px solid black;
        border-radius: 100px;
        background-color: white;

        p {
            padding: 20px;
        }
    }
}

.section3-carousel {
    margin-bottom: 70px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (max-width: 450px) {
    .section1-flex {
        margin: 10px;
        padding-bottom: 50px;
            
        button {
            margin: 0;
            
        }
    }

    .section2-flex {
        margin-bottom: 60px;

        .div-flex {
            width: 95%;
            text-align: center;

            p {
                font-size: 16px;
            }
        }
    }

    
}