
.bg-navbar {
    background-color: #FFC4FF;
    border-bottom: 1px solid black;

    .boton {
        padding: 0;
        border-radius: 0px;
        box-shadow: none;
    }

    .navbar-flex {
        justify-content: end;
        padding: 5px;

        ul {
            gap: 20px;  

            .navbar-link {
                text-decoration: none;
                color: black;
                padding: 8px 20px;
                border: 1px solid black;
                border-radius: 100px;
                background-color: #B463FF;

                &:hover {
                    background-color: #940AFF;
                }
            }
        }
    }
}   

@media (max-width: 991px) {
    .bg-navbar .navbar-flex ul .navbar-link {
        padding: 3px; 
    }
}